* {
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    line-height: 1.4;
}
#search-field {
    display: flex;
    justify-content: center;
    align-items: center;
}

#search-field input {
    display: block;
    color: #555;
    width: 80%;
    height: 52px;
    padding: 6px 16px;
    font-size: 14px;
    line-height: 1.42857143;
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075);
    border: 2px solid #e6ecef;
    border-radius: 4px;
    background-color: #fff;
    background-image: none;
    margin-bottom: 10px;
}

#go-btn {
    border-radius: none;
    border: 2px solid #ea175d;
    background: #ea175d;
    padding: 6px 16px;
    margin-bottom: 10px;
    height: 52px;
    width: 7%;
}

#go-btn a {
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
}
.nav-dir {
    background-color: #15549b;
    padding: 10px 0px;
    width: 100%;
    overflow: hidden;
}

.nav-dir a {
    display: block;
    color: #FFFFFF;
    float: right;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 60px;
    padding: 10px 0px;
}

.nav-dir a:hover {
    color: #9bbee9;
}

.nav-dir span {
    padding-left: 70%;
}

.nav-bar {
    display: block;
    float: left;
    padding: 10px 0px;
    background-color: #fff;
    overflow: hidden;
    ;
    width: 100%;
}

.nav-bar a {
    display: block;
    float: left;
    padding: 15px 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    margin-right: 10px;
}

.nav-bar a:hover {
    color: #ea175d;
}

.search-btn {
    background-color: #edebee;
    border-radius: 50%;
    border: none;
}
.section-bagr {
    background-image: url("images/sect-barg.avif");
    background-size: cover;
    background-color: #f2f2f9;
    background-position: center;
    background-repeat: no-repeat;
    height: 150px;
    margin-top: 60px;
    margin-bottom: 60px;
    position: relative;
    padding-top: 40px;
    padding-left: 40px;
}
.section-bagr span{
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 700;
    margin-top: 0;
}
#home{
    color: #15549b;
    text-transform: uppercase;
}
#home a{
    text-decoration: none;
}
#separator{
    color: #fff;
}
#login{
    color: #ea175d;
    text-transform: uppercase;
}
.buy-airTime{
    display: flex;
    justify-content: space-around;
    width: 80%;
    background-color: #ffffff;
    padding: 40px;
    margin-left: 10%;
    margin-right: 10%;
}

.buyAirTime-field{
    padding-right: 20px;
} 
.sub-field label{
    color: #3c4d6b;
    display: block;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    max-width: 100%;
    margin-bottom: 5px;
}
.buyAirTime-field h2{
    color: #3c4d6b;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    margin: 0px 0px 10px 0px;
}

#helpBlock{
    color: #737373;
    display: block;
    margin-top: 40px;
    margin-bottom: 10px;
}
#helpBlock a{
    text-decoration: none;
    color:#f51f8a;
    transition:all;
}
footer{
    display:flex;
    position:fixed;
    padding: 10px;
    bottom: 0;
    font-size: 14px;
    left: 0;
    background-color: #333;
    width: 100%;
}

.term-policy{
    display: flex;
    color: #6a7179;
    flex-direction: row;  
    justify-content: space-between;  
}
.form-control{
    width: 100%;
}

.btn-buyNow{
    width: 80%;
    background-color: #15549b;
    margin-top: 40px;
    display: block;
    font-size: 14px;
    font-weight: 600;
    border: none;
    color: #f2f2f9;
    line-height: 12px;
    letter-spacing: 1px;
    padding: 20px 30px;
    text-transform: uppercase;
    margin-left: 10%;
    margin-right: 10%;
}