* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#search-field {
    display: flex;
    justify-content: center;
    align-items: center;
}

#search-field input {
    display: block;
    color: #555;
    width: 80%;
    height: 52px;
    padding: 6px 16px;
    font-size: 14px;
    line-height: 1.42857143;
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075);
    border: 2px solid #e6ecef;
    border-radius: 4px;
    background-color: #fff;
    background-image: none;
    margin-bottom: 10px;
}

#go-btn {
    border-radius: none;
    border: 2px solid #ea175d;
    background: #ea175d;
    padding: 6px 16px;
    margin-bottom: 10px;
    height: 52px;
    width: 7%;
}

#go-btn a {
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
}


/* Style the dropdown container */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Style the "More Options" link */
.dropdown a {
    color: #333;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: background-color 0.3s;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Style the dropdown items */
.dropdown-content li {
    padding: 10px;
}

/* Change background color of dropdown items on hover */
.dropdown-content li:hover {
    background-color: #f0f0f0;
}

/* Show the dropdown content when the dropdown is hovered over */
.dropdown:hover .dropdown-content {
    display: block;
}



.nav-dir {
    background-color: #15549b;
    padding: 10px 0px;
    width: 100%;
    overflow: hidden;
}

.nav-dir a {
    display: flex;
    color: #FFFFFF;
    float: right;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 60px;
}

.nav-dir a:hover {
    color: #9bbee9;
}

.nav-dir span {
    padding-left: 70%;
}

.nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    overflow: hidden;
    width: 100%;
}

.nav-bar a {
    display: block;
    float: left;
    padding: 15px 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    margin-right: 10px;
}

.nav-bar a:hover {
    color: #ea175d;
}

.nav-bar img {
    width: 100px;
    height: 70px;
}


.search-btn {
    background-color: #edebee;
    border-radius: 50%;
    border: none;
    margin-left: 40px;
}

.section-bagr {
    background-image: url("images/sect-barg.avif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    position: relative;
    padding-top: 120px;
    padding-left: 40px;
}

.section-bagr h2 {
    color: #FFFFFF;
    font-size: 32px;
    font-weight: 700;
    font-family: sans-serif;
    line-height: 42px;
}

.section-bagr p {
    color: #FFFFFF;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 700;
}

.section-bagr button {
    border-radius: 5px;
    border: none;
    padding: 20px;
    background: #ea175d;
    margin-top: 10px;
}

.section-bagr a {
    color: #FFFFFF;
    text-decoration: none;
    justify-content: center;
    text-transform: uppercase;
}

.partner-icon {
    display: inline-block;
    width: 100%
}

.partner-icon h2 {
    color: #3c4d6b;
    font-weight: 500;
    font-size: 32px;
    font-family: poppins;
    text-align: center;

}

.partner-icon img {
    border: none;
    width: 100px;
    margin: 0 70px;
    padding-left: 20px;
    line-height: normal;
    vertical-align: middle;
}

footer {
    display: block;
    position: fixed;
    padding: 10px;
    bottom: 0;
    font-size: 12px;
    left: 0;
    background-color: #333;
    width: 100%;
}

.term-policy {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #6a7179;
    margin-left: 40px;
    margin-right: 40px;
}

.term-policy a {
    color: #f51f8a;
    text-decoration: none;

}

.term-policy a:hover {
    color: #15549b;
}

.term-policy #separator {
    color: #fff;
}

.servcon-img {
    display: flex;
}

.servcon-img .logo {
    width: 100px;
    height: 70px;
    mix-blend-mode: lighten;
}

hr {
    border: 1.5px solid #2b2e35;
    margin-top: 10px;
    width: 80%;
    margin-left: 20px;

}

.servcon {
    background: #1e2128;
}

.service {
    color: #fff;
    font-family: sans-serif;
    font-size: 14px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    height: 30vh;
    margin-top: 40px;
    line-height: 2rem;
}

.service a {
    text-decoration: none;
    color: #ea2189;
}

.service a:hover {
    color: #163867;
}